enable_cache: False

# environment configuration
settings:
  docker:
    requirements:
      - unstructured
      - sentence-transformers>=3
      - pgvector
      - datasets
      - litellm
      - numpy
      - psycopg2-binary
      - tiktoken
      - pygithub
      - elasticsearch
    python_package_installer: "uv"
    
steps:
  url_scraper:
    parameters:
      docs_url: https://docs.zenml.io/
      use_dev_set: true
  index_generator:
    parameters:
        index_type: postgres 