enable_cache: False

# environment configuration
settings:
  docker:
    requirements:
      - unstructured
      - sentence-transformers>=3
      - pgvector
      - datasets
      - litellm
      - numpy
      - psycopg2-binary
      - tiktoken
      - github

# configuration of the Model Control Plane
model:
  name: finetuned-zenml-docs-embeddings
  license: Apache 2.0
  description: Finetuned LLM on ZenML docs
  tags: ["rag", "finetuned"]