langchain==0.0.125
openai==0.27.2
slack-bolt==1.16.2
slack-sdk==3.20.0
-e  git+https://github.com/zenml-io/zenml.git@develop#egg=zenml
fastapi
flask
uvicorn
gcsfs==2023.3.0
chromadb==0.3.21
llama_index==0.5.1
unstructured==0.5.7
