https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0.tar.gz
appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
blis==0.7.4
boto3==1.17.38
botocore==1.20.38
catalogue==2.0.1
certifi==2020.12.5
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
contextvars==2.4
cymem==2.0.5
de-dep-news-trf @ https://github.com/explosion/spacy-models/releases/download/de_dep_news_trf-3.0.0/de_dep_news_trf-3.0.0-py3-none-any.whl
decorator==4.4.2
distlib==0.3.1
docopt==0.6.2
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.0.0/en_core_web_trf-3.0.0.tar.gz
filelock==3.0.12
ftfy==5.9
geckodriver-autoinstaller==0.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
identify==2.1.3
idna==2.10
immutables==0.15
importlib-metadata==3.4.0
ipython-genutils==0.2.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-core==4.7.1
lxml==4.6.2
MarkupSafe==1.1.1
murmurhash==1.0.5
nbformat==5.1.2
networkx==2.4
nltk==3.5
nodeenv==1.5.0
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pathy==0.4.0
pluggy==0.13.1
pre-commit==2.11.1
preshed==3.0.5
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
Pyro4==4.80
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pywsd==1.2.4
PyYAML==5.4.1
regex==2020.11.13
requests==2.25.1
rfc3986==1.4.0
s3transfer==0.3.6
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.1
selenium==2.53.6
sentencepiece==0.1.95
serpent==1.30.2
simalign @ git+https://github.com/cisnlp/simalign.git@c46486eaf3a7fa6a7d9f9c2f0eda0da0df1575f7
six==1.15.0
smart-open==3.0.0
sniffio==1.2.0
soupsieve==2.2.1
spacy==3.0.3
spacy-alignments==0.7.2
spacy-legacy==3.0.1
spacy-transformers==1.0.1
srsly==2.4.0
thinc==8.0.1
threadpoolctl==2.1.0
tokenizers==0.9.4
toml==0.10.2
torchcontrib==0.0.2
tox==3.23.0
tqdm==4.56.2
traitlets==5.0.5
transformers==4.2.2
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.2
wasabi==0.8.2
wcwidth==0.2.5
wincertstore==0.2
wn==0.0.23
yarg==0.1.9
zipp==3.4.0
simplemma