instructor
jiwer
jiter
importlib-metadata<7.0,>=1.4.0
litellm
mistralai==1.0.3
numpy<2.0,>=1.9.0
openai==1.69.0
Pillow==11.1.0
polars==1.26.0
pyarrow>=7.0.0
python-dotenv
streamlit==1.44.0
pydantic>=2.8.2,<2.9.0
tqdm==4.66.4
zenml>=0.80.0
