datasets>=2.19.1
transformers>=4.42.2
peft
bitsandbytes>=0.41.3
scipy
evaluate
rouge_score
nltk
accelerate>=0.30.0
urllib3<2
git+https://github.com/zenml-io/zenml.git@misc/without-notebook-error
torch>=2.2.0
sentencepiece
pyOpenSSL==24.1.0
protobuf
