# NOTE: these are generated with the following command and should be kept updated:
#
#  `zenml integration export-requirements sklearn mlflow deepchecks kubeflow s3 aws kserve`
#
# Use this file to generate the requirements-aws.txt file with:
#
#  `pip-compile -v -o requirements-aws.txt requirements-base.in requirements-aws.in  --resolver=backtracking`
#
# Hint: in case of conflicts, try commenting out some these requirements (e.g.
# deepchecks and torchvision), run the command again, and then uncomment them
# and run it a second time.
#
scikit-learn
mlflow>=1.24.0,<=2.2.0
mlserver>=0.5.3
mlserver-mlflow>=0.5.3
protobuf>=3.7.0,<4.0.0
deepchecks[vision]==0.8.0
torchvision==0.14.0
kfp==1.8.16
s3fs>2022.3.0,<=2022.11.0
sagemaker==2.117.0
kserve==0.9.0
torch-model-archiver
