# enable_cache: False

# environment configuration
settings:
  docker:
    parent_image: "zenmldocker/prepare-release:base-0.68.1"
    requirements:
      - langchain-community
      - ratelimit
      - langchain>=0.0.325
      - langchain-openai
      - pgvector
      - psycopg2-binary
      - beautifulsoup4
      - unstructured
      - pandas
      - numpy
      - sentence-transformers>=3
      - transformers[torch]==4.43.1
      - litellm
      - ollama
      - tiktoken
      - umap-learn
      - matplotlib
      - pyarrow
      - rerankers[flashrank]
      - datasets
      - torch
      - pygithub
    environment:
      ZENML_PROJECT_SECRET_NAME: llm_complete


# configuration of the Model Control Plane
model:
  name: prod_finetuned-zenml-docs-embeddings
  version: latest
  license: Apache 2.0
  description: Finetuned LLM on ZenML docs
  tags: ["rag", "finetuned"]

steps:
  finetune:
    step_operator: "gcp_a100"
    settings:
      step_operator.vertex:
        accelerator_count: 1
        accelerator_type: NVIDIA_TESLA_A100