# enable_cache: False

# environment configuration
settings:
  docker:
    requirements:
      - ratelimit
      - pgvector
      - psycopg2-binary
      - beautifulsoup4
      - unstructured
      - pandas
      - numpy
      - sentence-transformers>=3
      - transformers[torch]==4.43.1
      - litellm
      - ollama
      - tiktoken
      - umap-learn
      - matplotlib
      - pyarrow
      - rerankers[flashrank]
      - datasets
      - torch
      - pygithub
      - openai
    environment:
      ZENML_PROJECT_SECRET_NAME: llm_complete