zenml[server]>=0.73.0
ratelimit
pgvector
psycopg2-binary
beautifulsoup4
unstructured
pandas
openai
numpy
sentence-transformers>=3
transformers
litellm>=1.60.0
ollama
tiktoken
umap-learn
matplotlib
pyarrow
rerankers[flashrank]
datasets
torch
gradio
huggingface-hub
elasticsearch
tenacity

# MLFLOW
mlflow>=2.1.1,<3
# for logging to mlflow (which is backed by S3)
boto3
python-rapidjson<1.15
pydantic>=2.8.0,<2.9.0
numpy<2.0.0
pandas>=2.0.0

# optional requirements for S3 artifact store
# s3fs>2022.3.0
# boto3
# aws-profile-manager
