git+https://github.com/zenml-io/zenml.git@develop#egg=zenml[server] # will work for zenml>=0.75.0
ratelimit
pgvector
psycopg2-binary
beautifulsoup4
unstructured
pandas
openai
numpy
sentence-transformers>=3
transformers
litellm
ollama
tiktoken
umap-learn
matplotlib
pyarrow
rerankers[flashrank]
datasets
torch
gradio>=5.13.0
huggingface-hub
elasticsearch
tenacity
langfuse
pinecone

# optional requirements for S3 artifact store
# s3fs>2022.3.0
# boto3
# aws-profile-manager
