zenml[server]==0.65.0
datasets
pillow
ruff
ipykernel
Pillow>=9.2.0 
kubernetes>=21.7,<26 
ipywidgets>=8.0.0 
adlfs>=2021.10.0
azure-keyvault-keys 
azure-keyvault-secrets 
azure-identity 
azureml-core==1.56.0
azure-mgmt-containerservice>=20.0.0 
azure-storage-blob==12.17.0 
kubernetes
azure-ai-ml==1.18.0
albumentations
git+https://github.com/huggingface/accelerate.git@main
datasets
ftfy~=6.1.0
transformers~=4.41.2
sentencepiece>=0.1.91,!=0.1.92
torch~=2.2.0
torchvision~=0.16
peft
git+https://github.com/huggingface/diffusers.git@main
tensorboard
Jinja2
bitsandbytes
opencv-python
imageio
imageio-ffmpeg
