git+https://github.com/zenml-io/zenml.git@develop#egg=zenml[server]
datasets
pillow
ruff
ipykernel
Pillow>=9.2.0 
kubernetes>=21.7,<26 
ipywidgets>=8.0.0 
adlfs>=2021.10.0
azure-keyvault-keys 
azure-keyvault-secrets 
azure-identity 
azureml-core==1.56.0
azure-mgmt-containerservice>=20.0.0 
azure-storage-blob==12.17.0 
kubernetes
azure-ai-ml==1.18.0
