name: Pull Request Checks

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  spell-check:
    name: spell-check
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    env:
      ZENML_DEBUG: 1
      ZENML_ANALYTICS_OPT_IN: false
    steps:
    - name: Checkout Actions Repository
      uses: actions/checkout@v2

    - name: Spelling checker
      uses: crate-ci/typos@master
      with:
        files: "."
        config: ./.typos.toml

  markdown-link-check:
    uses: ./.github/workflows/markdown-link-check.yml
    if: github.event.pull_request.draft == false
    
  code-formatting-check:
    uses: ./.github/workflows/code-formatting.yml
    if: github.event.pull_request.draft == false
